@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  --nav-height: 100px;
  --nav-width: 100vw;
  --nav-bg-color: #fff;
  --nav-hover-color: #02fcd2;
}
header {
  font-family: poppins;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.58);
}

.black-block {
  width: inherit;
  background-color: black;
  text-align: center;
  padding: 10px 0;
}
nav {
  display: flex;
  align-items: center;
}

.text-small {
  font-size: 1em !important;
}

.nav-wrapper {
  height: inherit;
  width: var(--nav-width);
  /* height: var(--nav-height); */
  height: 80px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.nav-wrapper .logo img {
  height: 40px;
}

.nav-wrapper .menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-wrapper .menu .search svg {
  margin-left: 20px;
  height: 20px;
  width: 20px;
}
.nav-wrapper .menu .search svg:hover {
  color: var(--nav-hover-color) !important;
}
header .btn {
  color: gray;
  text-transform: uppercase;
  transition: all 0.2s ease;
  font-size: 15px;
  color: #5b6a6a;
  font-family: poppins !important;
  font-weight: 600 !important;
}

.btn:hover {
  color: var(--nav-hover-color) !important;
  /* font-weight: bold; */
  /* color: yellow !important; */
}

.change-location-menu > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-flag {
  height: 20px;
  width: auto;
  padding-right: 8px;
}

.location {
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.search-menu-wrapper {
  position: absolute;
  top: 118px;
  width: var(--nav-width);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #111;
  padding: 23px 10px;
  box-sizing: border-box;
}

.search-menu-wrapper .inputs {
  /* outline: 2px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-menu-wrapper .inputs .input {
  flex-grow: 1;
}

.search-menu-wrapper .inputs label {
  text-transform: uppercase;
  font-size: 1rem;
}

.search-menu-wrapper svg {
  margin-left: 20px;
  height: 22px;
  width: 22px;
}

/* #close-search-menu-btn { */
.search-menu-wrapper {
  display: none;
}

.small-device-menu {
  display: none;
}

.small-device-menu > .search {
  margin-right: 10px;
}

.small-device-menu svg {
  height: 30px;
  width: 30px;
}

#bhutan-ph,
#china-ph,
#japan-ph {
  display: none;
}

.location-ph-number {
  font-size: 1.4em;
  padding-right: 15px;
  color: #5b6a6a;
}

.accordion-body-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: none;
}
@media screen and (max-width: 1024px) {
  .nav-wrapper .logo img {
    height: 25px;
  }
  header .btn {
    font-size: 12px;
    font-weight: 600 !important;
  }
  .search-menu-wrapper svg {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 820px) {
  .nav-wrapper .menu,
  .nav-wrapper .location {
    display: none;
  }

  .nav-wrapper {
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .small-device-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    height: inherit;
  }
  .search-menu-wrapper {
    top: 90px;
  }
}

@media screen and (max-width: 576px) {
  .nav-wrapper {
    padding: 0 10px;
  }
  .small-device-menu svg {
    height: 20px;
    width: 20px;
  }
  .search-menu-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .search-menu-wrapper .inputs {
    width: 95%;
    flex-direction: column;
  }
}
